h1 {
  font-family: "Times New Roman", Times, serif;
  color: antiquewhite;
  border: 5px solid #44848b;
  text-align: center;
  background-color: #6495ed;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}
body {
  background-color: #6edab9;
  /* background-image: linear-gradient(180deg, #76eecb, #037951); */
  font-family: sans-serif;
  margin: 0 50px;
}
form {
  padding-left: 20px;
  background-color: #44848b;
  padding-top: 30px;
  padding-right: 20px;
  border-top-right-radius: 25px;
  padding-bottom: 20px;
  max-height: 425px;
  border-bottom-right-radius: 25px;
}
.container {
  display: flex;
  gap: 10px;
}
#posts {
  width: 400px;
}
i {
  cursor: pointer;
}
label {
  padding: 15px;
  background-color: #63bfa3;
  /* border-top-left-radius: 15px; */
  border-top-right-radius: 15px;
  border: 2px solid #44848b;
}
/* #posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.options {
  display: flex;
  gap: 25px;
}
#msg {
  color: red;
}
h3 {
  margin-top: 0px;
  background-color: #4e7acb;
  width: 20%;
  border-radius: 15px;
  padding: 10px;
}
.right {
  background-color: #6495ed;
  border-radius: 25px;
  padding: 20px;
  color: antiquewhite;
  margin-left: 25px;
  width: 80%;
  border: 5px solid #44848b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: 100%;
  width: 100%;
}
/* title [type="text"] {
  border: 100px #44848b;
} */
h4 {
  margin-top: 0px;
  background-color: #23375d;
  width: 95%;
  border-radius: 15px;
  padding: 10px;
}
h5 {
  margin-top: 0px;
  background-color: #6495ed;
  border: 2px solid #44848b;
  border-radius: 15px;
  padding: 10px;
  color: 6495ed;
}
.bottomBox {
  display: flex;
  gap: 10px;
}
.rightBottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 100%;
  width: 100%;
  gap: 10px;

  padding: 10px;
  box-sizing: border-box;
}
recipeList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 100%;
  width: 100%;
}
.ingredientInStock {
  color: antiquewhite;
}
.missingIngredient {
  color: red;
}
